extends templates/layout

block head

block content
  div.perfil-wrapper
    div.perfil-body
      div.publicaciones
          table
            thead
              tr 
                th Publicaciones
            tbody
              each publicacion in publicaciones
                tr
                  td
                    img(src=publicaciones.fotoUsuario, alt="Portada", class="mini-portada") 
                    | #{publicacion.Titulo}
                tr 
                  td(colspan="2")= publicacion.Contenido
                tr 
                  td.final(colspan="2")
                    img(src=publicacion.fotoLibro, alt="ImagenUsuario", class="foto-publicacion")
                    form(method="POST", action=`/perfil/del/${publicacion.idPublicaciones}`)
                        button.enlace-borrar2(type="submit") Borrar
                    hr
