extends ../templates/layout

block content
  div.perfil-wrapper
    div.perfil-header
      img(src=usuario.Foto, alt="ImagenUsuario", class="foto-perfil")
      h1= "¡Bienvenido a tu perfil " + usuario.Nombre + "!"

    div.perfil-body
      div.descripcion
        | #{usuario.Descripcion}

      div.publicaciones
        table
          thead
            tr 
              th Publicaciones
          tbody
            each publicacion in publicaciones
              tr
                td
                  img(src=usuario.Foto, alt="Portada", class="mini-portada") 
                  | #{publicacion.Titulo}
              tr 
                td(colspan="2")= publicacion.Contenido
              tr 
                td.final(colspan="2")
                  img(src=publicacion.Foto, alt="ImagenUsuario", class="foto-publicacion")
                  form(method="POST", action=`/perfil/del/${publicacion.idPublicaciones}`)
                      button.enlace-borrar2(type="submit") Borrar
                  hr
      div.descripcion
        h3 🏆 Ranking personal 🏆
        table(border="1", cellpadding="10", cellspacing="0")
            thead
                tr
                    th Posicion
                    th Foto
                    th Nombre
            tbody
                each ranking in rankings
                    tr
                        td.centrarElementos 
                          h1= ranking.ranking
                        td
                            a(href=`/libros/ver/${ranking.idLibro}`) 
                                img(src=ranking.Foto, alt="Portada", class="portada-img", style="width: 150px; height: 200px; margin-bottom: 20px;")
                        td= ranking.Titulo