extends ../templates/layout

block head

block content 
    h3 Editar un Autor
    div.centro
        div.tamano
            form(method="post") 
                input(type="hidden", name="id", value=`${autor.idAutor}`)
                label(for="Nombre") Nombre:
                input(type="text", name="Nombre", value=`${autor.Nombre}`)
                br
                label(for="FechaNac") Fecha de nacimiento:
                input(type="date", name="FechaNac", value=`${autor.FechaNac}`)
                br
                label(for="FechaFal") Fecha de defunción (Opcional):
                input(type="date", name="Fechafal", value=`${autor.FechaFal}`)
                br
                label(for="Foto") Foto:
                input(type="text", name="Foto", value=`${autor.Foto}`)
                br
                input(type="submit", value="Enviar")
