extends ../templates/layout

block head


block content 
    h3 Borrar un libro
    div.centro
        div.tamano
            form(method="post") 
                label(for="idAutor") Autor: 
                input(type="text", name="nombreAutor", value=`${autor.Nombre}`, disabled) 

                br
                label(for="titulo") Titulo:
                input(type="text", name="titulo", value=`${libro.Titulo}`,disabled)
                
                br
                label(for="Sinapsis") Sinapsis: 
                input(type="text" name="Sinapsis", value=`${libro.Sinapsis}`, disabled) 

                br
                label(for="Descripcion") Descripcion:
                input(type="text", name="Descripcion", value=`${libro.Descripcion}`, disabled) 

                br
                label(for="Paginas") Páginas: 
                input(type="number", name="Paginas", value=`${libro.Paginas}`,disabled) 
                
                br
                label(for="Fecha") Fecha:
                input(type="date", name="Fecha", value=`${libro.Fecha}`,disabled)
                
                
                br
                input(type="hidden", name="id", value=`${libro.idLibro}`)
                input(type="submit", value="Enviar")