extends ../templates/layout

block head

block content
    div.contenedor-general
        div.libros-container
            h3.titulo-libros Listado de libros
            table.tabla-libros
                thead
                    tr
                        th Título
                        th Sinapsis
                        th Portada
                        th Ver 
                        th Editar
                        th Borrar
                tbody 
                    each libro in libros
                        tr 
                            td= libro.Titulo                        
                            td= libro.Sinapsis
                            td
                                img(src=libro.Foto, alt="Portada", class="portada-img", style="max-width: 300px; margin-bottom: 20px;")
                            td 
                                a.enlace-ver(href=`/libros/ver/${libro.idLibro}`) Ver más detalle
                            td 
                                a.enlace-editar(href=`/libros/edit/${libro.idLibro}`) Editar 
                            td 
                                a.enlace-borrar(href=`/libros/del/${libro.idLibro}`) Borrar 
                            
            p 
                a.enlace-add(href="/libros/add") Añadir un libro nuevo
